{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <br/>
    <input name="title" id="title"
      value="{{ request.form['title'] or project['title'] }}" size="50" required>
    <br/>
    <label for="url">You Tube URL</label>
    <br/>
    <input name="url" id="url" size="50"
        value="{{ request.form['url'] or project['url'] }}">
    <br/>
    <label for="body">Body</label>
    <br/>
    <textarea name="body" id="body" row="10" cols="50">{{ request.form['body'] or project['body'] }}</textarea>
    <br/>
    <input type="submit" value="Save">
    <br/>
  </form>
  <hr>
  <form action="{{ url_for('index.deleteProject', id=project['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
